@import '../src/default.styl'

*
  box-sizing border-box
  
body
  font-size 16px
  color #4e4e4e

h2
  font-size 1.4em

.container
  min-width 40em
  max-width 80em
  width 100%
  margin auto
  padding 0 1em
  
svg
  display inline-block
  float left 
  fill #aaa
  height 18px
  margin-top 2px
  width 18px

pre
  white-space pre-wrap
  white-space -moz-pre-wrap
  white-space -o-pre-wrap
  word-wrap break-word
  margin 0

.demo,
.code
  display inline-block
  width 100%
  vertical-align top
  
.code
  border-radius 5px
  -moz-border-radius 5px
  -webkit-border-radius 5px
  background-color #F9F9F9
  @media (min-width: 60em)
    margin-left 2%
    width 58%
.demo
  @media (min-width: 60em)
    width 38%
  
  